{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-3">
			<div class="panel-body shadow Compte">
				<img class="img-responsive" src="{{asset('bundles/swapplatform/images/silhouette.png') }}">
			</div>
		</div>
		<div class=" col-md-7">
			<div id="sent-comment" class="col-md-offset-1 col-md-6">
				<div id="bloc-message-conversation" class="panel-body shadow Compte">
					{{ form_start(form) }}
					{{ form_errors(form, { 'attr': { 'class' : 'form-control' }} ) }}
					{{ form_row(form.content, { 'attr': { 'class' : 'form-control' }} ) }}
					{{ form_row(form.save, { 'attr': { 'class' : 'btn btn-group pull-right' }} ) }}        
					{{ form_rest(form, { 'attr': { 'class' : 'form-control' }} ) }}
					{{ form_end(form, { 'attr': { 'class' : 'form-control' }} ) }}
				</div>
			</div>
		</div>
	</div>
</div>
			
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}