{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  <div class="flexslider">
  <ul class="slides">
      <li>
        <img src="{{asset('bundles/swapplatform/images/imageSlider1.jpg') }}">
      </li>
      <li>
        <img src="{{asset('bundles/swapplatform/images/imageSlider3.jpg') }}">
      </li>
      <li>
        <img src="{{asset('bundles/swapplatform/images/imageSlider4.jpg') }}">
      </li>
  </ul>
    </div>

<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-default">
        <div class="panel-body shadow">
          <h1 class="titreArticleAccueil"> <span class="glyphicon glyphicon-refresh icone"></span> <br /> <br />
            {{ 'core.index.title_concept1'|trans }}
          </h1>
          <article class="articleAccueil">
            {{ 'core.index.block_concept1'|trans }}
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-default">
      <div class="panel-body shadow">
        <h1 class="titreArticleAccueil">
        <span class="glyphicon glyphicon-globe icone"></span> <br /> <br />{{ 'core.index.title_concept2'|trans }}</h1>
        <article class="articleAccueil">
          {{ 'core.index.block_concept2'|trans }}
        </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-default">
        <div class="panel-body shadow">
          <h1 class="titreArticleAccueil"><span class="glyphicon glyphicon-ok icone"></span> <br /> <br />{{ 'core.index.title_concept3'|trans }}</h1>
          <aricle class="articleAccueil">
          {{ 'core.index.block_concept4'|trans }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel panel-default">
        <div class="panel-body shadow">
        <h1 class="titreArticleAccueil"><span class="glyphicon glyphicon-star icone"></span> <br /> <br />{{ 'core.index.title_concept4'|trans }}</h1>
        <article class="articleAccueil">
        {{ 'core.index.block_concept4'|trans }}
        </h2>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'SwapUserBundle::Security/login.html.twig' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var recipient = button.data('whatever') 
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})</script>

<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      controlNav: false,
      slideshowSpeed: 4000,
      animationSpeed: 1800
    });
  });
</script>


{% endblock %}