{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-3">
			<div class="panel-body shadow Compte">
				<img class="img-responsive" src="{{asset('bundles/swapplatform/images/silhouette.png') }}">
				<a href="{{ path('swap_platform_profil') }}">
					<button id="boutonProfil" class="btn btn-primary text-center col-md-12">Modifier mon profil</button>
				</a>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-5">
			<h3>Informations personnelles</h3>
			<div class="well">
				{{ form_start(form) }}
				{# Les erreurs générales du formulaire. #}
				{{ form_errors(form, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.username, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.genre, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.email, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.nationalite, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.profession, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.description, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.save, { 'attr': { 'class' : 'col-sm-offset-18 btn btn-default' }} ) }}
				{{ form_rest(form, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_end(form, { 'attr': { 'class' : 'form-control' }} ) }}
			</div>
		</div>
	</div>
</div>


{% endblock %}