{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

	<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="panel-body shadow Compte">
				<img class="img-responsive" src="{{asset('bundles/swapplatform/images/silhouette.png') }}">
				{{ service.user }}
				<a href="{{ path('swap_message_send', { 'id': service.id, 'idUser': service.user.id }) }}">
					<button id="boutonProfil" class="btn btn-primary text-center col-md-12">Envoyer un message</button>
				</a>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel-body shadow Compte">
			<h3>Reservation</h3>
			<span class="sousTitre"><p>Effectuer une réservation</p><span>
				{{ form_start(form) }}
				{# Les erreurs générales du formulaire. #}
				{{ form_errors(form, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.dateArrival, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_row(form.dateDeparture, { 'attr': { 'class' : 'form-control' }} ) }}
				{% if service.ModeResa == 'Reservation sur demande' %}
					</br>
					{{ form_row(form.save, { 'label': 'Envoyer une demande', 'attr': { 'class' : 'col-sm-offset-18 btn btn-primary ' }} ) }}     
				{% else %}
					</br>
				 	{{ form_row(form.save, { 'label': 'Réservation instantanée', 'attr': { 'class' : 'col-sm-offset-18 btn btn-primary ' }} ) }}
				{% endif %}
				{{ form_rest(form, { 'attr': { 'class' : 'form-control' }} ) }}
				{{ form_end(form, { 'attr': { 'class' : 'form-control' }} ) }}
			</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel-body shadow Compte">
					<span class="Comment"><p>Les derniers commentaires</p><span>
					<hr>
					{% for comment in comments %}
						<div class="row">
							<div class="col-xs-12">
								{{ comment.author.username }}
							</div>
							<div class="col-xs-12">
								{{ comment.content }}
							</div>
						</div>
					{% endfor %}
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}